@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/Roboto/Roboto-Regular.ttf");
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
