<div layout="row" layout-wrap>
  <md-card flex="33" class="result">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">New View</span>
      </md-card-title-text>
    </md-card-title>

    <md-card-content layout="column">
    	<div layout="row" layout-margin>
	        <md-input-container>
	          <label>Add Cancer Types</label>
	          <md-select ng-model="ctrl.selectedCancerTypes" multiple>
	            <md-option ng-repeat="ct in ctrl.cancerTypes" ng-value="ct">
	              {{ct}}
	            </md-option>
	          </md-select>
	        </md-input-container>
	    </div>
	    <div layout="row" layout-margin>
	        <md-input-container>
	          <label>Add Tissue Types</label>
	          <md-select ng-model="ctrl.selectedTissueTypes" multiple>
	            <md-option ng-repeat="tt in ctrl.tissueTypes" ng-value="tt">
	              {{tt}}
	            </md-option>
	          </md-select>
	        </md-input-container>
	    </div>
	    <div>
		   <md-input-container class="md-block">
	        <label>Hourly Rate (USD)</label>
	        <input required type="number" step="1" ng-model="ctrl.dataset" min="3" max="4" />
	      </md-input-container>
	    </div>
    </md-card-content>
    <md-card-actions layout="row" layout-align="end center">
    	<md-button 
    		ng-click="ctrl.request()" 
    		ng-disabled="ctrl.selectedTissueTypes.length * ctrl.selectedCancerTypes.length == 0">
    		calulate
    	</md-button>
    </md-card-actions>
  </md-card>

  <md-card ng-repeat = "result in ctrl.results track by $index" class="result" flex="33" ng-show="!result.hide">
	<md-card-title>
      <md-card-title-text>
        <span class="md-headline">{{::result.request.cancerTypes.join(',')}} | {{::result.request.tissueTypes.join(',')}}</span>
        <span class="md-subhead">{{result.status}}</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content layout="column" layout-align="start center">
    	<div class="error" ng-if="result.status == 'error'">{{result.data}}</div>
    	<div class="pending" ng-if="result.status == 'pending'">
    		<md-progress-circular md-diameter="100px"></md-progress-circular>
    	</div>
    	<div class="finished" ng-if="result.status == 'finished'">{{result.data}}</div>
    </md-card-content>
    <md-card-actions layout="row" layout-align="end center">
		<md-button 
			ng-click="result.hide = true" 
			ng-disabled="result.status == 'pending'">
		remove
		</md-button>
    </md-card-actions>
  </md-card>
</div>